* {
    padding: 0;
    margin: 0;
}

html body {
    width: 100%;
    background-color: white
}

#all::after {
    content: '';
    display: table;
    clear: both;
    
}

#Puzzle {
    float: left;
    width: 610px;
    height: 610px;
    border: skyblue 2px solid
}

#img {
    float: left;
    transform: translateX(200px)translateY(70px)
}

#Puzzle1 {
    position: absolute;
    left: 2px;
    top: 2px
}

#Puzzle2 {
    position: absolute;
    left: 206px;
    top: 2px
}

#Puzzle3 {
    position: absolute;
    left: 410px;
    top: 2px
}

#Puzzle4 {
    position: absolute;
    left: 2px;
    top: 206px
}

#Puzzle5 {
    position: absolute;
    left: 206px;
    top: 206px
}

#Puzzle6 {
    position: absolute;
    left: 410px;
    top: 206px
}

#Puzzle7 {
    position: absolute;
    left: 2px;
    top: 410px
}

#Puzzle8 {
    position: absolute;
    left: 206px;
    top: 410px
}

#Puzzle9 {
    position: absolute;
    left: 410px;
    top: 410px
}

#font{
    position: absolute;
    font-size: 20px;
    display: inline-block;
    top: 0;
    right: 80px;
}