* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url(./your-name.png) no-repeat center;
    background-size: cover;
    resize: both;
    z-index: -1;
}

.flash{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.box{
    position: relative;
    margin: 40px auto;
    height: 710px;
    width: 670px;
}

.music-box{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 135px;
    top: 380px;
}
.music-box:hover{
    animation: rotating 0.5s infinite linear;
}

@keyframes rotating{
    0%,
    100% {
      transform: rotateZ(0);
    }
  
    33% {
      transform: rotateZ(15deg);
    }
  
    66% {
      transform: rotateZ(-15deg);
    } 
}

.music-box audio{
    display: none;
}

.tip-box{
    position: absolute;
    width: 160px;
    height: 120px;
    right: 50px;
    top:100px;
}

.tip{
    position: absolute;
    left: 40px;
    top: 25px;
}

.begin {
    z-index: 1;
    color: purple;
    background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    outline: none;
    border: none;
    padding: 0.5em 1em;
    position: absolute;
    border-radius: 5px;
    right: 120px;
    top: 450px;
}
  
.stop-continue {
    z-index: 1;
    color: purple;
    background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    outline: none;
    border: none;
    padding: 0.5em 1em;
    position: absolute;
    border-radius: 5px;
    right: 120px;
    top: 500px;
}
  
button:hover {
    cursor: pointer;
    animation: jelly 0.5s infinite linear;
}

.btn-right-bottom-shadow{
    box-shadow:4px 4px 5px #000;
}

.btn-left-top-shadow{
    box-shadow:inset 4px 4px 5px #000;
}

@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
  
    33% {
      transform: scale(0.9, 1.1);
    }
  
    66% {
      transform: scale(1.1, 0.9);
    }
}

td {
    width: 1rem;
    height: 1rem;
}

.runColor {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.stopColor{
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.border {
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 50%, #6654F1 100%);
}